<div class="m-1">
<div class="card mb-4">
  <div class="card-body">
    {% for rew in rewiew %}
    <p class="card-text">Автор: Лев | Дата: 18.04.2023</p>
    <hr>
    <p class="card-text font-italic">Этот фильм - это настоящее приключение! Его главный герой - Король тигр, несомненно, прекрасный образцовый лидер. Он беспощаден, но в то же время защищает свою территорию и своих подданных. Его враг - охотник Джон, который пришел в джунгли, чтобы убить Короля тигра и продать его шкуру на черном рынке. Они вступают в битву, которая становится настоящей эпичной сагой.</p>
    <p class="card-text font-italic">Оценка: 9 из 10.</p>

  </div>
</div>
{% else %}
<p class="card-text">Отзывов пока нет!</p>
{% endfor %}
</div>